/* This is a css for coverleter.html */

/* default css settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* default css settings end here */

/* Navbar starts here */
.navbar {
  border-bottom: solid 1.5px var(--light-gray);
  box-shadow: 2px 2px 3px 2px var(--very-light-gray);
}
/* Navbar ends here */

/* Content-1 CSS starts here */
.content-1 {
  display: flex;
  flex-direction: row;
  width: vw;
  height: 60rem;
}
  .content-1 > .design-fonts {
    width:35%;
    height: vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .content-1 > .design-fonts > .menu-change {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3rem 0 1rem 0;
      border-radius: 3px;
      width: 100%;
      border-bottom: solid 1.5px var(--gray);
    }
      .content-1 > .design-fonts > .menu-change > .avocado-btn {
        padding: 0.7rem 2rem;
        border-radius: 5px 0 0 5px;
      }
      .content-1 > .design-fonts > .menu-change > .avocado-btn-flipped {
        padding: 0.7rem 2rem;
        border-radius: 0 5px 0 5px;
      }


    .content-1 > .design-fonts > .coverleter-design {
      display: flex;
      height: 90%;
      justify-content: center;
      align-items: center;
      width: 100%;

    }

    /* .content-1 > .design-fonts > .coverleter-fonts {
      display: flex;
      height: 90%;
      justify-content: center;
      align-items: center;
      width: 100%;
    } */

  .content-1 > .edit-doc {
    width:65%;
    background-color: #729df9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
/* Content-1 CSS ends here */
