/* This is a css for home.html */

/* default css settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* default css settings end here */

/* Navbar CSS starts here */
.navbar {
  background-color: white;
  height: var(--navbar-height);
  display: flex;
}

  .navbar > .navbar-logo {
    width: 20%;
    font-family: var(--logo-font), sans-serif;
    font-size: 1.5rem;
    color: var(--main-green);
  }

  .navbar > .navbar-action {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }

    .navbar-action > .action-btn {
      margin: 0 1rem;
      cursor: pointer;
    }

    .navbar-action > .action-btn:hover {
      font-weight: bold;
    }

  .navbar > .navbar-login {
    width: 20%;
    display: flex;
    justify-content: flex-end;
  }

    .navbar-login > .login-btn {
      margin-right: 1rem;
      border: solid 1.5px var(--black);
      border-radius: var(--btn-radius);
      background-color: white;
      color: var(--black);
      padding: 0.3rem;
      cursor: pointer;
      -webkit-transition: all 0.1s ease-in-out 0s;
      transition: all 0.1s ease-in-out 0s;
    }

    /* .navbar-login > .login-btn:hover {
      padding: 0.4rem;
    } */
/* Navbar CSS ends here */


/* Content-1 CSS starts here */
.content-1 {
  height: 30rem;
  position: relative;
}

  .content-1 > .content-img {
    height: inherit;
    background-image: url(../img/avocado-bg.jpg);
    background-position: center;
    background-size: cover;
  }

  .content-1 > .content-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.5);
  }

  .content-1 > .content-txt {
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    .content-txt > .look-btn {
      margin-top: 2rem;
      width: 50%;
      padding: 0.7rem;
      color: white;
      font-weight: bold;
      border: solid 1.5px var(--btn-green);
      border-radius: var(--btn-radius);
      background-color: var(--btn-green);
      cursor: pointer;
    }
/* Content-1 CSS ends here */


/* Content-2 CSS starts here */
.content-2 {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

  .content-2 > .blank-space {
    width: 20%;
  }

  .content-2 > .content-container {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }

    .content-container > .popular-act {
      height: 2rem;
      margin: 0 1rem;
      font-weight: bold;
      font-size: 1.2rem;
      cursor: pointer;
    }

    .content-container > .popular-act:hover {
      border-bottom: solid 4px var(--gray);
    }
/* Content-1 CSS ends here */


/* Content-3 CSS starts here */
.content-3 {
  height: 30rem;
}
/* Content-1 CSS ends here */


/* Footer CSS starts here */
.footer {
  width: 100%;
  background-color: var(--light-gray);
  color: var(--black);
  display: flex;
}

  .footer > .footer-menu {
    margin: 2rem 2.5rem;
    width: 60%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
  }

    .footer-menu > .menu-btns {
      width: 100%;
      display: flex;
    }

      .menu-btns > .footer-btn {
        margin: 0 2rem;
        cursor: pointer;
      }

    .footer-menu > .menu-sns {
      margin-top: 1.5rem;
      width: 100%;
      display: flex;
    }

      .menu-sns > .sns-btn {
        margin-left: 2rem;
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 5px;
        cursor: pointer;
      }

      .naver-btn {
        background-image: url(../img/naver.jpg);
        background-position: center;
        background-size: contain;
      }

      .brunch-btn {
        background-image: url(../img/brunch.png);
        background-position: center;
        background-size: contain;
      }

      .github-btn {
        background-image: url(../img/github.png);
        background-position: center;
        background-size: contain;
        background-color: white;
      }

  .footer > .comp-info {
    margin: 2rem 2.5rem;
    width: 40%;
  }

    .comp-info > .info {
      font-size: 0.8rem;
      margin-bottom: 2rem;
    }
/* Footer CSS ends here */
