/* This is a css for home.html */

/* default css settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
/* default css settings end here */

/* ALL LAYOUT RELATED CSS HERE */
.body {
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic', sans-serif;
}


/* Navbar CSS starts here */
.navbar {
  height: 10%;
  background-color: #93ffa9;
}

  .navbar > .navbar-action {
    display: flex;
    justify-content: center;
    align-content: center;
  }

    .navbar-action > .action-btn {
      margin: 0 0.5rem;
    }
/* Navbar CSS ends here */


/* Content-1 CSS starts here */
.content-1 {
  height: 35rem;
  background-color: #ff8499;
  display: flex;
  width: 100%;
}

.content-1 > .create-content {
  width: 70%;
  background-color: blue;
}
.content-1 > .template-preview {
  width: 30%;
  justify-content: flex-end;
  background-color: red;
}
/* Content-1 CSS ends here */



.footer {
  height: 5rem;
  background-color: #a5a5a5;
}
