<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      .mhtest1 {
        height: 20rem;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: blue;
      }

      .mhtest2 {
        height: 20rem;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: green;
      }
    </style>
  </head>
  <body>
    <div class="mhtest1">
      <div id="hello-txt" class="text">
        hello
      </div>
    </div>

    <div class="mhtest2">
      <div class="text">
        mh
      </div>
    </div>
  </body>
  <script src="../static/dist/mhTest.js"></script>
</html>
